{% trans_default_domain 'App' %}
{% apply spaceless %}
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-fw fa-cogs"></i></button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:void(0)" onclick="Edytuj('__obiektId__')">
            <i class="fas fa-fw fa-edit"></i>
            {{ 'Edytuj'|trans }}
        </a>
        <a class="dropdown-item" href="javascript:void(0)" onclick="Usun('__obiektId__')">
            <i class="fas fa-fw fa-trash"></i>
            {{ 'Usun'|trans }}
        </a>
    </div>
{% endapply %}
                        